SEGMENT_WRITE_KEY=""
NEO4J_URI="bolt://localhost:7687"
NEO4J_USERNAME="neo4j"
NEO4J_PASSWORD=""
LANGCHAIN_API_KEY=""
GPT_MODEL_NAME_GOOGLE_gemini_15_flash="gemini-1.5-flash"
GPT_MODEL_NAME_MISTRAL_codestral-latest="codestral-latest"
GPT_MODEL_NAME_OPENAI_gpt_4o="gpt-4o"
OPENAI_API_KEY=""
MISTRAL_API_KEY=""
GOOGLE_API_KEY=""
MISTRAL_API_BASE = "https://codestral.mistral.ai/v1/"
OPENAI_API_BASE = "https://api.openai.com/v1"
FREE_QUESTIONS_PER_SESSION=100
